<a href="/stock?special=data"
    data-name="<%= name ? name : 'no-name' %>"
    data-amount="<%= amountStock ? amountStock : 'no-amountStock' %>"
    type="button"
    class="<%= id ? id : 'no-id' %> changeStock btn btn-outline-secondary">
    <%= label ? label : 'no label' %>
</a>