<a href="/recipe?special=data"
    data-name="<%= name ? name : 'no-name' %>"
    type="button"
    class="<%= name ? name : 'no-class' %> btn-size btn-recipe btn btn-outline-secondary">
    <%= name ? name : 'no label' %>
</a>