<div class="recipe">
  <div>
    <h2 id="headline">Name Rezept</h2>
  </div>

  <%#
        <div id="picture">
          <h3>Pic</h3>
        </div>
        %>

  <div class="table-components">
    <table class="table recipe-components">
      <h3>Zutaten</h3>
      <thead>
        <th scope="col">Name</th>
        <th scope="col">Stück</th>
        <th scope="col">Gramm</th>
      </thead>
      <tbody id="components"></tbody>
    </table>
  </div>
  <div>
    <p id="description">Beschreibung</p>
  </div>
  <div class="button add-to-list">
  </div>
  <div class="button cooked-delete-stock">
  </div>
</div>