<div class="recipe">
  <div>
    <h2 id="headline">Name Rezept</h2>
  </div>
  <div class="table-components">
    <table class="table recipe-components">
      <h3>Zutaten</h3>
      <thead>
        <th scope="col">Name</th>
        <th scope="col">Stück</th>
        <th scope="col">Gramm</th>
      </thead>
      <tbody id="components"></tbody>
    </table>
  </div>
  <div>
    <p id="description">Beschreibung</p>
  </div>
  <table>
    <tr>
      <td>
        <a href="/recipes?special=data"
          type="button"
          class="btn-size add-to-list btn btn-outline-secondary">
          Zutaten in die Einkaufsliste
        </a>
      </td>
      <td>
        <a href="/recipes?special=data"
          type="button"
          class="btn-size delete-from-stock btn btn-outline-secondary">
          Zutaten aus dem Bestand entfernen
        </a>
      </td>
    </tr>
  </table>
</div>