.btnGroup {
    margin-top: 10%;
}
.btn-index {
    margin: 2%;
    padding: 2%;
}
.btn-size {
    size: 90%,90%;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.selection-items {
    width: 30%;
    padding-right: 10%;
    padding-bottom: 5%;
}
.shopping-list {
    width: 100%;
}
.recipe {
    width: 100%;
}
.select-recipe {
    border: small,solid;
}
#displayRecipe {
    display: none;
}