<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>
</head>

<body>
  <%- include ../partials/navbar %>

  <div class="table stock">
    <table class="table table-stock">
      <thead>
        <tr>
          <th scope="col">Artikel</th>
          <th scope="col">Stückzahl</th>
          <th scope="col">Hinzufügen (1x)</th>
          <th scope="col">Löschen (1x)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Name</th>
          <td>stückzahl</td>
          <td>button plus</td>
          <td>button minus</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>