<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>
</head>

<body>
  <%- include ../partials/navbar %>
  
  <div class="selection-items">
    <table class="table list-selection-items">
      <thead>
        <tr>
          <th scope="col">Auswahl</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Art1.name, Stock.stk</td>
          <td>Art1.name, Stock.stk</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="shopping-list">
    <table class="table shopping-list">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">BestandStk</th>
          <th scope="col">EinkaufStk</th>
          <th scope="col">Einkauf -(1x)</th>
          <th scope="col">Check, Bestand +(1x)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Name</th>
          <td>Bestand Stk</td>
          <td>Einkauf Stk</td>
          <td>Button minus</td>
          <td>Button plus</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>