<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>
</head>

<body>
  <%- include ../partials/navbar %>
  <div class="flex-container">
    <div class="panel panel-default selection-items">
      <div class="panel-heading">
        <table>
          <thead>
            <th scope="col">Auswahl</th>
          </thead>
        </table>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% stockElements.forEach(e => { %>
              <%- include('../partials/button-list', {name: e.name, amountStock: e.amountStock}); %>
          <% }) %>
        </div>
      </div>
    </div>

    <div class="shopping-list">
      <table class="table shopping-list">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">BestandStk</th>
          <th scope="col">EinkaufStk</th>
          <th scope="col">Einkauf -(1x)</th>
          <th scope="col">Check, Bestand +(1x)</th>
        </thead>
        <tbody id="body-shopping-list">
          
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>