<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>
    <%- include ../partials/navbar %>

    <div class="container btnGroup">
        <div>
            <a class="btn btn-index btn-outline-secondary btn-block" href="/stock" role="button">Bestand</a>
        </div>
        <div>
            <a class="btn btn-index btn-outline-secondary btn-block" href="/recipe" role="button">Rezepte</a>
        </div>
        <div>
            <a class="btn btn-index btn-outline-secondary btn-block" href="/list" role="button">Einkaufsliste</a>
        </div>
    </div>
</body>

</html>