<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>
</head>

<body>
  <%- include ../partials/navbar %>

  <div class="recipes">
    <div class="recipe">
      <div class="recipe headline">
        <h2>Name Rezept</h2>
      </div>
      <div class="recipe picture">
        <h3>Pic</h3>
      </div>
      <div class="recipe table-components">
        <table class="table recipe-components">
          <h3>Zutaten</h3>
          <thead>
            <tr>
              <th scope="col">Stück</th>
              <th scope="col">Gramm</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Stück</td>
              <td>Gramm</td>
              <td>Name</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="description">
        <p>Beschreibung</p>
      </div>
      <div class="button add-to-list">

      </div>
      <div class="button cooked-delete-stock">

      </div>
    </div>
  </div>
  <div class="recipe-selection">
    <table class="table list-recipe-selection">
      <thead>
        <tr>
          <th scope="col">Auswahl</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rezept1</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>