<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>
</head>

<body>
  <%- include ../partials/navbar %>

  <div class="flex-container">

    <div class="selection-items">
      <table class="table list-recipe-selection">
        <thead>
          <th scope="col">Auswahl</th>
        </thead>
        <tbody>
          <% recipes.forEach(r => { %>
            <td><%- include('../partials/button-recipe', {name: r.name}); %></td>
          <% }) %>
        </tbody>
      </table>
    </div>

    <div id="displayRecipe"><%- include('../partials/recipe'); %></div>
  </div>

</body>

</html>