<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>
</head>

<body>
  <%- include ../partials/navbar %>

  <div class="flex-container">
    <div class="selection-items">
      <div class="table list-recipe-selection">
        <table>
          <thead>
            <th scope="col">Auswahl</th>
          </thead>
        </table>
      </div>
      <div class="table list-recipe-selection-body">
          <div class="list-group">
              <% recipes.forEach(r => { %>
                <td><%- include('../partials/button-recipe', {name: r.name}); %></td>
              <% }) %>
            </div>
      </div>
    </div>
  </div>


    <div id="displayRecipe">
      <%- include('../partials/recipe'); %>
    </div>
  

</body>

</html>